{% extends 'base.html'%}
{% block title %} {{post.title_tag}}{% endblock %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{ post.title }}</h1>
    <small>
        By: {{post.author.first_name}} - 
        {{ post.publication_date }}
    </small><br>
    <div class="clearfix">
    <img src="{{ post.header_image.url}}" class="col-md-6 float-md-end mb-3 ms-md-3" alt="">
    {{post.body |safe }}
</div>

    <br>
    {% if user.is_authenticated%}   
        {% if user.id == post.author.id%}
        <small> <a href="{%url 'update_post' post.pk%}">edit</a></small>
        <br><br>
        {%endif%}
    {%endif%}
    <a href="{%url 'home'%}" class ="btn btn-secondary">Back</a>

    <br><br>
    <hr>
    <br>
    <form action="{% url 'like_post' post.pk%}" method="POST">
        {% csrf_token%}
    {% if user.is_authenticated%}
        {% if liked %}
            <button type="submit", 
            name="post_id", 
            value="{{post.id}}", 
            class= "btn btn-danger btn-sm">Unlike</button><br>
            {{total_likes}} Likes
        {% else %}
            <button type="submit", 
            name="post_id", 
            value="{{post.id}}", 
            class= "btn btn-primary btn-sm">Like</button><br>
            {{total_likes}} Likes
        {% endif %}
    {% else %}
        <!-- cant get a dummy button to display properly -->
        <!-- <button   
        class= "btn btn-primary btn-sm">Like</button><br> -->
        <a href="{% url 'login'%}">Login</a><small> to like</small>
        {{total_likes}} Likes
    {% endif %}
    

    </form>
</body>
</html>

{% endblock %}