{% extends 'base.html'%}

{% block content %}

{% if category_products%}

<h1>{{cats}}</h1>

<ul>
{%for post in category_products%}
<li>
    <a href="{%url 'article-detail' post.pk%}">{{post.product_model}} </a> -
    {{post.author.first_name}} - 
    {{post.publication_date}}

    {% if user.is_authenticated%}
    <small> 
      -<a href="{%url 'update_post' post.pk%}">edit</a>
      <a href="{%url 'delete_post' post.pk%}">delete</a>
    </small>
    {% endif %}
<br>
    <!-- {{post.body|safe}} -->
    {{ post.body|slice:":300"|safe}}</li> 
{%endfor%}
</ul>
{% else%}
<h2>Sorry this page does not exist...</h2>
{%endif%}
{% endblock %}