{% extends 'base.html'%}

{% block content %}

{% if user.is_authenticated%}   
{% if user.id == post.author.id%}

    <h1>Delete Post</h1>
    
    <br><br>

    <h3>Delete: {{ post.title }}</h3><br>

    <!-- bootstrab class for form -->
<div class="mb-3">
<form method="POST">

    {% csrf_token %}
    <strong>Are you sure?</strong><br>
    <button class="btn btn-primary">Delete Post</button>

</form>
</div>
{% else %}

(you are not allowed here (and you know it!)

{%endif%}

{% else%}

(you are not allowed here (and you know it!)

{% endif%}

{% endblock %}