{% extends 'base.html'%}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  {% if user.is_authenticated%}
    <h1>Hello, {{user.first_name}}</h1>
  {%endif%}
<ul>
{% for post in object_list %}
  <li>
    <h3>{{post.title}}</h3><small>{{ post.publication_date}}</small>
    <a href="{% url 'category' post.category %}">{{post.category}}-</a> 
    <!-- <a href="{%url 'article-detail' post.pk%}">{{post.title}} </a> - -->
    

    {% if user.is_authenticated%}
      {% if user.id == post.author.id%}
        <small> 
          -<a href="{%url 'update_post' post.pk%}">(edit</a>
          <a href="{%url 'delete_post' post.pk%}">delete)</a>
        </small>
      {% endif%}
    {% endif %}
<br>
    <!-- {{post.body}} -->
    <!-- bootstrap container div -->
    <div class="container">
    <h6>{{post.snippet}}</h6>
    </div>
    <a href="{%url 'article-detail' post.pk%}">Read More</a>
    <!-- {{ post.body|slice:":300"|safe}}</li>  -->
  </li> 
  {% endfor %}
</ul>
  </div>
</body>
</html>


{% endblock %}